<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<main id="site-main">
  <div class="container text-center" style="margin-top: 100px;">
    <h1 class="text-dark">👋 You have been logged out</h1>
    <p class="text-light">Thank you for visiting. See you soon!</p>
    <br>

    <a href="/login" class="btn btn-primary">Login Again</a>
  </div>
</main>

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
